
@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <script id="microloader" type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script  type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>

</head>
<body>
</body>
</html>

